.nav-container {
    background-color: #E6EFB3;
}

.button-div {
    display: flex;
    flex-direction: row;
}

.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.dropdown {
    /* border:1px solid #753b1c; */
    margin-top: 15px;
    padding-right: 9px;
    /* padding-bottom: 5px; */
    width: 15%;
    height: 30px;
}

.button-div .google-button {
    display: flex;
    margin: 20px 10px;
    border-radius: 3px;
    
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 1.28571em;
    width:100%;
    height: 50%;
}

.button-div .fb-button {
    display: flex;
    margin: 20px 10px;
    color: #fff;
    background: #3b5998;
    border: 1px solid #3b5998;
    background-repeat: no-repeat;
    padding-top: 5px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 1.28571em;
    border-radius: 3px;
    width:100%;
    height: 50%;
    padding-right: 5px;
}

.nav-div{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.facebook-logo{
    height: 15px;
    width:15px;
    margin-right: 3px;
}

.google-logo {
    height: 15px;
    width: 15px;
    margin-top: 2px;
    margin-right: 3px;
}