.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-page .log-badges-switch{
    display: flex;
    justify-content: center;
}
.profile-page .profile-tab{    
    border: 1px solid #753b1c;
    background-color: #efce7b;
    height: 30px;
    width: 100px;
    margin: 5px;
}

.profile-page .selected-tab{
    background-color: #753b1c;
    color: white;
}