.p-info-top {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  position: relative;
  padding-top: 15px;
  margin: 0 auto;
  padding: 0 15px;
}

.p-info-dis {
  padding: 9px 0;
  position: relative;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: center;
}

/* .p-info-dis .p-img {
  display: block;
  width: 217px;
  height: 217px;
  position: absolute;
  bottom: -46px;
  left: 150px;
  border-radius: 4px;
} */

.p-info-dis .p-info-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.p-info-dis .p-info-content .p-img {
  /* width: 217px;
  height: 100px; */
  /* display: block; */
  width: 217px;
  height: 217px;
  /* position: absolute; */
  bottom: -46px;
  border-radius: 4px;
}

.p-info-dis .p-info-content .info-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.p-info-dis .p-info-content .info-column .p-info-name{
  font-size: 2.4rem;
  font-weight: bold;
}

.p-info-dis .p-info-content .info-column .p-info-logged-img{
  height: 24px;
  width: 24px;
  margin-right:5px; 
}

.p-info-dis .p-info-content .info-column .p-info-logged span{
  font-weight: bold;
}

.p-info-dis .p-info-content .edit-column{
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-info-dis .p-info-content .edit-column .edit-icon {
  height: 24px;
  width: 24px;
  margin-right:5px; 
}