
.review-container{
    border:1px solid black;
    width:50%;
    margin:20px;
    background-color: #91FFCE;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin:20px;
}

