.taco-card-wrap{
    border: 1px solid #753b1c;
    background-color: #efce7b;
    margin:5px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taco-card-wrap .taco-card-title{
    font-weight: bold;
    padding: 5px;
}

.taco-card-wrap .rating-icons{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:50%;
}
.taco-card-wrap .rating-icons .taco-icon{
    max-width: 50px;
    max-height: 50px;
    width:100%;
    height: 100%;
}